@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Amor';
    src: url(fonte/lovestory.ttf) format(truetype);
    font-weight: bold;
}

@font-face {
    font-family: 'Aniversario';
    src: url(fonte/HappyBirthday.otf) 
    format(opentype);
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #2B332E;
    --cor2: #3D614C;
    --cor3: #36B66B;
    --cor4: #72e2a1;

    --fonte-principal: 'Playfair Display';
    --fonte-titulo: 'Amor';
}

body {
    background-image: url(imagens/fundo.png);
    background-attachment: fixed;
    background-size: 500px;
    font-family: var(--fonte-principal);
    width: 100vw;
    height: 100vh;

}

header{
    margin: auto;
    max-width: 80%;
    min-width: 300px;
    padding: 40px;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor2);
    text-shadow: 10px 6px 10px rgba(0, 0, 0, 0.115);
}

header > h1 {
    background-color: rgba(255, 255, 255, 0.833);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin: -40px 0px 0px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);
    text-align: center;
}

main {
    background-color: rgba(255, 255, 255, 0.833);
    max-width: 80%;
    min-width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 55px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.277);
}

main h2 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor2);
    text-align: center;
    text-shadow: 10px 6px 10px rgba(0, 0, 0, 0.233);
    margin: 20px 0px;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-weight: bold;
}

article {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}

p.frases {
    text-align: center;
    text-indent: 0px;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin: 10px;
}

section {
    background-image: radial-gradient(circle, var(--cor3), var(--cor2));
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.333);
}

p#rodape {
    color: grey;
    text-align: center;
}

section > img {
    width: 200px;
    max-width: 100%;
    border-radius: 10px;  
    display: block;
    margin: auto;
}

section > img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.347);
}

#caixa-contador{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#contador {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(144, 3, 3);
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
    width: 400px;
    height: 100px;
    border-radius: 12px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contador::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    border-radius: 10px;
    z-index: -1;
}

#contador::before{
    content: "";
    background: linear-gradient(
        60deg,red, darkred,orange, yellow );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(10px);
    animation: glowing 60s linear infinite both;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0%,100% {background-position: 0 0;}
    50% {background-position: 400% 0;}
}
#contador:hover::before{
    opacity: 1;
}

#contador:active:after {
    background: transparent;
}

#contador:active{
    color: rgb(251, 89, 89);
    
}
#aniversario {
    display: none;
    max-width: 100%;
    padding: 10px;
}
#aniversario > img{
    border-radius: 10px;
    border: none;
    max-width: 100%;
    animation: glow 5s infinite linear;
}
@keyframes glow {
    0%,100%{
        box-shadow: none;
        transform: scale(1.0);
    }
    50%{
        box-shadow: 
        0 0 10px white,
        0 0 20px red,
        0 0 35px rgba(0, 0, 255, 0.781);
    }
}

