@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Amor';
    src: url(fonte/lovestory.ttf) format(truetype);
    font-weight: bold;
}

*{
    margin: 0px;
    padding: 0px;
}


:root {
    --cor1: #2B332E;
    --cor2: #3D614C;
    --cor3: #36B66B;
    --cor4: #72e2a1;

    --fonte-principal: 'Playfair Display';
    --fonte-titulo: 'Amor';
}

body {
    background-image: url(imagens/fundo.png);
    background-attachment: fixed;
    background-size: 500px;
    font-family: var(--fonte-principal);
    width: 100vw;
    height: 100vh;

}

header{
    margin: auto;
    max-width: 80%;
    min-width: 300px;
    padding: 40px;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor2);
    text-shadow: 10px 6px 10px rgba(0, 0, 0, 0.115);

    
}

header > h1 {
    background-color: rgba(255, 255, 255, 0.833);
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    margin: -40px 0px 0px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.381);
    text-align: center;
}

main {
    background-color: rgba(255, 255, 255, 0.833);
    max-width: 80%;
    min-width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 55px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.277);
}

main h2 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor2);
    text-align: center;
    text-shadow: 10px 6px 10px rgba(0, 0, 0, 0.233);
    margin: 20px 0px;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-weight: bold;
}
 article {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
 }
p.frases {
    text-align: center;
    text-indent: 0px;
    margin: 10px;
    font-weight: bold;
 }
 h3 {
    text-align: center;
    margin: 10px;
 }
 aside {
    background-image: radial-gradient(circle, var(--cor3), var(--cor2));
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.333);
 }
 p#rodape {
    color: grey;
    text-align: center;
 }
 aside > img {
    width: 300px;
    max-width: 600px;
    border-radius: 10px;  
    display: block;
    margin: auto;
 }
 aside > img:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.347);
 }